* {
  box-sizing: border-box;
}

:root {
  --color-primary100: #3692ff;
  --color-coolgray100: #f3f4f6;
  --color-coolgray800: #1f2937;

  --color-secondary50: #f9fafb;
  --color-secondary200: #e5e7eb;
  --color-secondary400: #9ca3af;
  --color-secondary700: #374151;
  --color-secondary800: #1f2937;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-pill: 999px;
}

html {
  font-size: 16px;
  font-family: "Pretendard";
}

body {
  background-color: #fcfcfc;
}

img {
  height: 100%;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;

  background-color: #fff;

  display: flex;
  align-items: center;
}

header .header-wrapper {
  width: 100%;
  margin: 0.5rem 200px;

  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 160px;

  background-color: #111827;
}

footer .footer-wrapper {
  margin: 0 200px;
  padding-top: 2rem;

  display: flex;
  justify-content: space-between;
}

header .logo {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  color: var(--color-secondary400);

  font-size: 1rem;
}

footer .menu {
  color: var(--color-secondary200);

  font-size: 1rem;

  display: flex;

  & > li {
    margin: 0 1rem;
  }
}

footer .sns-icon {
  color: #fff;

  display: flex;

  & > li {
    margin: 0 0.5rem;
  }
}

.section-a {
  height: 540px;
  background-color: #cfe5ff;
}

.section-b {
  height: 720px;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-wrapper {
  height: 100%;

  display: flex;
  justify-content: center;
}

.section-a .section-wrapper {
  align-items: flex-end;
}

.section-b .section-wrapper {
  align-items: center;
  height: 444px;

  background-color: #fcfcfc;
}

.section-top {
  /* 540 + 80 */
  height: 620px;
  /* nav height */
  padding-top: 80px;

  & .title {
    margin-bottom: 2rem;
  }

  & .panel-right {
    height: 340px;
  }
}

.section-bottom {
  & .title {
    margin-right: 2rem;
    margin-bottom: 10rem;
  }

  & .panel-right {
    height: 397px;
  }
}

.section-b {
  & .title {
    text-align: right;
    margin: 2rem 0;
  }

  & .description {
    text-align: right;
  }

  & .panel-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    margin: 0 4rem;
    max-width: 300px;
  }

  & .panel-right {
    height: 444px;
  }
}

.section1 .section-wrapper,
.section3 .section-wrapper {
  flex-direction: row-reverse;

  & .title,
  & .description {
    text-align: left;
  }

  & .panel-left {
    align-items: flex-start;
  }
}

.badge {
  color: var(--color-primary100);
  font-size: 1.125rem;
  font-weight: 700;
}

.title {
  color: var(--color-secondary700);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.description {
  color: var(--color-secondary700);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;

  word-break: keep-all;
}

.button {
  background-color: var(--color-primary100);
  color: var(--color-coolgray100);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.btn-login {
  /* padding 으로 버튼 사이즈를 조절해야 할까? 아니면 width 로 고정? */
  padding: 1rem 3rem;

  border-radius: var(--radius-md);

  font-size: 1rem;
}

.btn-goto {
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 40px;
  padding: 1rem 0.5rem;

  margin-bottom: 8rem;
}

.login-wrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 5% 0;
}

.login {
  display: flex;

  width: 640px;
  flex-direction: column;
  align-items: center;

  & .logo {
    height: 132px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2.5rem;
  }

  & form {
    width: 100%;

    & label {
      color: var(--color-secondary800);

      font-size: 18px;
      font-weight: 700;
    }

    & input {
      width: 100%;
      height: 56px;
      padding: 16px 24px;

      background-color: var(--color-coolgray100);
      color: var(--color-coolgray800);

      border-radius: 12px;
      border: none;

      font-size: 1rem;
      font-weight: 400;

      margin: 1rem 0 1.5rem 0;
    }

    & input::placeholder {
      color: var(--color-secondary400);
    }

    & input:focus {
      outline: none;
      border: 1px #3692ff solid;
    }

    & button {
      width: 100%;
      border: none;
      padding: 1rem auto;

      background-color: var(--color-secondary400);
      border-radius: var(--radius-pill);

      font-size: 1.25rem;
      font-weight: 600;
    }

    /* active ? */
    & button:hover {
      background-color: var(--color-primary100);
    }
  }

  & .login-oauth {
    width: 100%;
    height: 74px;
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    background-color: #e6f2ff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .login-oauth-text {
      font-size: 1rem;
      font-weight: 500;
      color: var(--color-secondary800);
    }

    & .login-oauth-btn {
      display: flex;
      gap: 1rem;
    }
  }
}

.login-footer {
  font-size: 0.875rem;
  font-weight: 500;

  & a {
    color: var(--color-primary100);
    text-decoration: underline;
  }
}

.password-wrapper {
  position: relative;

  & .btn-visibility {
    position: absolute;
    bottom: 2.3rem; /* 이게 맞나 */
    right: 1.5rem;
  }
}
